Anexo 1. Formalización (1) (2).xlsx
Anexo 2. Adjudicación (1) (1).xlsx
CasosAB_202509.xlsx
catalogo_dane_municipios.csv
contruyendo_panel_tierras_violencia_final.R
Detección_de_Cultivos_de_Coca_(hectáreas)_20260207.csv
EXTORSIÓN_20260207.csv
HOMICIDIO_20260225.csv
Homicidios Firmantes CNR-Comunes.xlsx
Lideres_Somos_Defensores.xlsx
Municipios_PNIS_.xlsx
MunicipiosPDET.xlsx
PANEL_AGRICULTURA_Y_TIERRA(2024).dta
PANEL_BUEN_GOBIERNO(2024).dta
PANEL_CARACTERISTICAS_GENERALES(2024).dta
REPORTE_VICTIMAS_DESPLAZAMIENTO_ANUALIZADO_OCURRENCIA_Y_LLEGADA__MUNICIPALES_20260227.csv
VictimasAS_202509.xlsx
